@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

.parent {
	transition: all 250ms ease;

	& *:nth-child(n) {
		transition: all 250ms ease;
	}

	display: grid;
	justify-content: center;
	align-items: center;
	justify-items: center;
	row-gap: 25px;
	padding-top: 25vh;

	h1 {
		transition: all 250ms ease;

		font-family: 'Rubik Mono One', sans-serif;
		color: #1890ff;
		font-size: 70px;
		text-align: center;
	}

	.contentParent {
		-webkit-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
		-moz-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
		box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);


	}

	.content {
		@extend .parent;
		height: fit-content;
		width: 80vw;
		position: relative;
		justify-content: stretch;
		max-width: 600px;
		padding-top: 0px;
	}

	.result {

		position: relative;
		height: 0px;
		overflow: hidden;

		.resultContent {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			h1 {
				color: #44d55c;
				font-size: 70px;
			}
			a{
				margin-top: 15px;
				font-size: 18px;
			}
			.statsLink{
				margin-top: 40px;
			}
		}
	}
}

@media (max-width: 550px) {
	.parent {
		h1 {
			font-size: 15vw;
		}
		.result{
			.resultContent{
				h1{
					font-size: 16vw;
				}
			}
		}
	}
}

.parent[loaded=true] {
	transition: all 250ms ease;

	& *:nth-child(n) {
		transition: all 250ms ease;
	}

	row-gap: 25px;
	padding-top: 5vh;

	h1 {
		font-size: 30px;
		margin: 0px;
	}

	.result {
		height: 450px;
	}
}